<%= turbo_frame_tag "table" do %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
        <th id="companies-seasons" scope="col" class="text-left px-6 py-3 relative">
            Empresa
          </th>
          <th id="companies-cuit" scope="col" class="text-left px-6 py-3 relative">
              CUIT
          </th>
          
          <th id="companies-sector" scope="col" class="text-left px-6 py-3 relative">
            Rubro
          </th>
          <th scope="col" class="px-6 py-3">
            Acciones
          </th>
        </tr>
      </thead>
        <tbody id="companies_table_body">
          <%= render @companies %>
        </tbody>
    </table>
  </div>
  <div class="flex mx-auto mt-2">
    <%== pagy_nav(@pagy) %>
  </div>
<%end%>